$connect-purple-1: #270035;
$connect-purple-2: #492955;
$connect-purple-3: #52335D;
$connect-purple-4: #D4CCD7;
$connect-yellow-1: #FFF963;
$connect-yellow-2: #FFD800;
$connect-yellow-3: #FFE11A;
$connect-yellow-4: #FFF3A3;

$connect-yellow-gradient: linear-gradient(133.73deg, $connect-yellow-1, $connect-yellow-2);
