$screenconnect-purple-1: #270035;
$screenconnect-purple-2: #492955;
$screenconnect-purple-3: #52335D;
$screenconnect-purple-4: #D4CCD7;
$screenconnect-yellow-1: #FFF963;
$screenconnect-yellow-2: #FFD800;
$screenconnect-yellow-3: #FFE11A;
$screenconnect-yellow-4: #FFF3A3;

$screenconnect-yellow-gradient: linear-gradient(133.73deg, $screenconnect-yellow-1, $screenconnect-yellow-2);
